/* ==========================================
form.htmlに適用するスタイルシート
============================================= */

html,
body {
    height: auto;
}
main {
    margin: 10px 5vw;
    padding: 10px;
}
#form-music-list {
    display: none;
}
.input-area {
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0rem gray;
}
#form-music-list > * {
    display: none;
}
#form-music-list > div.current {
    display: block;
}
.form-title {
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    text-align: center;
}
.stepper {
    position: relative;
}
.stepper-arrow.up {
    top: 0;
    right: 0;
}
.stepper-arrow.down {
    bottom: 0;
    right: 0;
}