/* このファイルはindex.htmlに適用するスタイルシート */

/* --- 全体 --- */
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* --- Copyright --- */
footer {
    width: 100%;
    height: fit-content;
    text-align: center;
}
.copyrights {
    color: black;
    font-size: 8pt;
}