/* ==========================================
このファイルはindex.htmlに適用するスタイルシート 
============================================= */

#make-btn {
    width: 60%;
    margin: 0 20%;
}
#info-area {
    padding: 15px 20%;
}